

.sequencer {
    display: flex;
    flex-direction: column;
}

.sequencerPanel {
    display: flex;
    justify-content: space-between;
}

.top {
    height: 40%;
}

.bottom {
    flex: 1;
}

.player {
    flex-direction: column;
    width: 33.333%;
    justify-content: space-between;
}

.player {
    flex-direction: column;
    width: 32%;
    justify-content: space-between;
}

.bpm {
    flex-direction: column;
    width: 28%;
    justify-content: space-between;
}

.synth {
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.sequencerPlayer {
    margin-left: 4vh;
    margin-right: 4vh;
}

.sequencerFileList{
    height: 100%;
    width: 32%;
}

.seqBoard{
    width: 65%;
}