.headertile{
    display: flex;
    align-items: end;
    height: 70%;
    justify-content: space-between;
}

.title{
    font-size: 2.3rem;
    height: 100%;
    width: 80%;
    line-height: 110%;
}

.headerArrowCont{
    width: 2.25rem;
    display: flex;
    align-items: end;
    margin-right: 5vh;
    
}

.headerArrow{
    width: 100%
}